//bootstrap settings
//$body-bg: #FFF;
//$body-color: #000;
//$primary: #ef5553;
//$secondary: $body-color;
//$tertiary: #f2f2f2;
//$danger: #f00;
//$borders-color: #828282;
//$input-bg: #fff;
//$chart-lines-color: #E1E1E1;
//$input-color: $body-color;
//$input-placeholder-color: $borders-color;
//$input-border-color: $borders-color;
//$input-focus-border-color: $borders-color;
//$input-font-weight: 400;
//$enable-rounded: true;
//$enable-shadows: false;
//$enable-validation-icons: false;
//$btn-box-shadow: none;
//$btn-focus-box-shadow: none;
//$btn-active-box-shadow: none;
//$input-btn-focus-box-shadow: none;
//$custom-control-indicator-box-shadow: none;
//$input-box-shadow: none;
//$border-radius: 5px;
//$border-radius-lg: 5px;
//$border-radius-sm: 5px;
//$tooltip-border-radius: 5px;
//$tooltip-opacity: 1;
//$tooltip-arrow-color: #FFF;
//$tooltip-bg: #FFF;
//$grid-gutter-width: 40px;
//$half-gutter-width: $grid-gutter-width / 2;
//$grid-columns: 36;
//$grid-breakpoints: (
//    xs: 0,
//    sm: 576px,
//    md: 768px,
//    lg: 992px,
//    xl: 1200px,
//    xxl: 1600px
//);
//$container-max-widths: (
//    sm: 540px,
//    md: 720px,
//    lg: 960px,
//    xl: 1140px,
//    xxl: 1400px
//);
//$spacer: 1rem;
//$spacers: (
//    0: 0,
//    1: ($spacer * .25),
//    2: ($spacer * .5),
//    3: $spacer,
//    4: ($spacer * 1.5),
//    20: ($spacer * 2),
//    30: ($spacer * 1.875),
//    40: ($spacer * 2.5),
//    5: ($spacer * 3),
//    6: ($spacer * 4),
//    7: ($spacer * 5),
//    8: ($spacer * 6),
//);
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

html.signin,
html.signin body {
  height: 100%;
}
html.signin body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
